<div class="container">
  <form name="user-form" (ngSubmit)="addUser()" #userForm="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFirstName" class="col-form-label">First Name</label>
        <input type="text"
               #userFirstName = "ngModel"
               name="firstName"
               required
               minlength="4"
               [(ngModel)]="user.firstName"
               class="form-control"
               id="inputFirstName"
               placeholder="Enter First Name">


        <div *ngIf="userFirstName.errors && (userFirstName.dirty || userFirstName.touched)" class="error">
          <p [hidden] = "!userFirstName.errors.required">First name is required</p>
          <p [hidden] = "!userFirstName.errors.minlength">First name must be 4 characters long</p>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputLastName" class="col-form-label">Last Name</label>
        <input type="text"
               #userLastName = "ngModel"
               name="lastName"
               required
               [(ngModel)]="user.lastName"
               class="form-control"
               id="inputLastName"
               placeholder="Enter Last Name">
        <div *ngIf="userLastName.errors && (userLastName.dirty || userLastName.touched)" class="error">
          <p [hidden] = "!userLastName.errors.required">Last name is required</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPhone" class="col-form-label">Phone No.</label>
      <input type="number"
             #userPhone = "ngModel"
             name="phone"
             required
             minlength="10"
             maxlength="10"
             [(ngModel)]="user.phone"
             class="form-control"
             id="inputPhone"
             placeholder="Enter Phone No.">
      <div *ngIf="userPhone.errors && (userPhone.dirty || userPhone.touched)" class="error">
        <p [hidden] = "!userPhone.errors.required">Phone number is required</p>
        <p [hidden] = "!userPhone.errors.minlength">Phone number is invalid</p>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress" class="col-form-label">Address</label>
      <input type="text"
             #userAddress = "ngModel"
             name="address"
             class="form-control"
             id="inputAddress"
             required
             [(ngModel)]="user.address"
             placeholder="Enter Apt and Street">
      <div *ngIf="userAddress.errors && (userAddress.dirty || userAddress.touched)" class="error">
        <p [hidden] = "!userAddress.errors.required">Address is required</p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city" class="col-form-label">City</label>
        <input type="text"
               #userCity = "ngModel"
               name="city"
               class="form-control"
               id="city"
               required
               [(ngModel)]="user.city"
               placeholder="Enter City">
        <div *ngIf="userCity.errors && (userCity.dirty || userCity.touched)" class="error">
          <p [hidden] = "!userCity.errors.required">City is required</p>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState" class="col-form-label">State</label>
        <select name="state" class="form-control" #userState="ngModel" [(ngModel)]="user.state" id="inputState">
          <option *ngFor="let state of states">{{state}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="zip" class="col-form-label">Zip</label>
        <input type="number"
               #userZip = "ngModel"
               name="zip"
               class="form-control"
               id="zip"
               required
               [(ngModel)]="user.zip"
               placeholder="Enter Zip">
        <div *ngIf="userZip.errors && (userZip.dirty || userZip.touched)" class="error">
          <p [hidden] = "!userZip.errors.required">ZipCode is required</p>
        </div>
      </div>

    </div>
    <button class="btn btn-primary" [disabled]="userForm.invalid">SUBMIT</button>
  </form>
</div>

